.flight-search-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flight-search-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.flight-search-form select,
.flight-search-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.flight-search-form input[type="date"] {
    font-family: inherit;
}

.flight-search-form div {
    display: flex;
    flex-direction: column;
}

.flight-search-form button {
    grid-column: span 2;
    padding: 10px;
    background-color: #002d72; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.flight-search-form button:hover {
    background-color: #0044a3; /* Azul más claro */
}

.flight-search-form input[type="radio"],
.flight-search-form input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 5px;
}




.background-container {
    background-image: url('http://localhost:8080/imagenes/backGround.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}


