<h1>Welcome, {{firstName}} {{lastName}}!</h1>
<p>We're thrilled to have you join Quintanilla Airlines. Let's make your journey amazing!</p>
<p>If you have any questions, feel free to reach out to us.</p>
